#header {
    position: fixed;
    width: 100%;
    background-color: #000;
    color: #fff;
    margin-bottom: 1rem;
    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
    }

    .logo_container {
        overflow: hidden;
        width: 120px;
        img {
            width: 100%;
        }
    }

    .btn_filter {
        cursor: pointer;
        height: fit-content;
        background-color: #0c64e9;
        color: #fff;
        border-radius: 0.3rem;
        padding: 0.7rem;
        font-weight: bold;
        font-size: 1.6rem;
    }

    top: 0;
    z-index: 100;
}