
.loading_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes codebeauty{
    0%{
        top: -500px;
    }
    50%{
        top: 0;
    }
    75%{
        top: -30px;
    }
    100%{
        top: 0;
    }
}

@keyframes spin{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(360deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

@keyframes buttonglow{
    0%{
        background-color: #d4d4d4;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: #d4d4d4;
    }
}


.mainball{
    position: relative;
    animation: codebeauty .25s ease-in-out, spin 3s ease-in-out infinite;
    border: 10px solid black;
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    width: 100px;

    &::before, &::after{
        content: '';
        position: absolute;
    }

    &::before{
        background-color: red;
        width: 100%;
        height: 50%;
    }

    &::after{
        background-color: #000;
        width: 100%;
        height: 7px;
        top: calc(50% - 7px);
    }

    .pokebutton{
        position: absolute;
        animation: buttonglow 3s ease-in-out infinite;
        background-color: #d4d4d4;
        border: 5px solid #ffffff;
        box-shadow: 0px 0px 0px 7px #000;
        border-radius: 50%;
        height: 15px;
        top: calc(50% - 5px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        z-index: 2;
    }
}
