.modal, .pokemon_modal {
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 9999;
}

.modal_container {
    position: relative;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;

    .btn_close {
        position: absolute;
        background-color: transparent;
        cursor: pointer;
        font-size: 2.2rem;
        top: 10px;
        right: 10px;
    }
}

@media (min-width: 768px){
    .modal_container{
        max-width: 65%;
        max-height: 65%;
    }
}

@media (min-width: 992px){
    .modal_container{
        max-width: 50%;
        max-height: 50%;
    }
}

@media (min-width: 1200px){
    .modal_container{
        max-width: 35%;
        max-height: 35%;
    }
}