$color-grass: #63f863;
$color-fire: #f86d63;
$color-poison: linear-gradient(125deg, $color-grass, #ff80ff);
$color-water: #3c91d6;
$color-ice: #70d2ff;
$color-normal: #d8d8d8;
$color-bug: #4aca4a;
$color-electric: #fdfd3a;
$color-fairy: #ffd3da;
$color-psychic: #fc7f94;
$color-rock: #daa638;
$color-steel: #a5a5a5;